/*General*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
}

.container { /*Big container*/
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 0.5fr 4fr;
}

.bold {
    font-weight: bold;
}
/*General*/
/*Dashboard*/

.dashboard { 
    background-color: #3b0764;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: #FFF;
    font-weight: bold;
    padding: 3vh 0.5vw;
}

.logo {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5vw;
}

.logo svg {
    fill: #FFF;
    width: 3rem;
}

.options ul, .settings ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
    padding: 5vh 0.5vw;
}

.options svg, .settings svg {
    width: 1.3rem;
    fill: #FFF;
    margin-right: 0.5vw;
}

.dashboard a {
    color: #FFF;
    font-size: 1.5rem;
    transition: 1ms;
}

.dashboard a:hover {
    text-decoration: underline;
}

/*Dashboard*/
/*Nav*/

.nav {
    background-color: #faf5ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 3vh 5vw 3vh 2vw;
    box-shadow: 6px 9px 10px -7px rgba(0,0,0,0.33);
    z-index: 10;
}

.upper-nav, .lower-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Upper Nav*/

.nav svg {
    width: 1.5rem;
}

.searchbar input{
    width: 40vw;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
}

.user, .searchbar {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.pfp {
    width: 3vw;
    height: 3vw;
    border-radius: 100%; 
}

.user p {
    font-size: 1.2rem;

}


/*Upper Nav*/
/*Lower Nav*/

.lower-nav {
    padding-top: 2vh;
}

.left-lower-nav {
    display: flex;
    gap: 2.5vw;
    align-items: center;
}

.big-pfp {
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
}

.greetings {
    font-weight: bold;
}

.username {
    font-size: 1.4rem;
    margin-top: 0;
}

.right-lower-nav {
    display: flex;
}

.right-lower-nav button {
    background-color: #3b0764;
    color: #FFF;
    width: 9.5vw;
    padding: 10px 20px;
    border-radius: 50px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.right-lower-nav button:hover {
    background-color: #5e0a9f;
}

button svg {
    fill: #FFF;
}

/*Lower Nav*/
/*Nav*/

/*main*/

.main {
    background-color: #f3e8ff;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2vw;
    padding: 3vh 2vw;
}

.side-content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 2vw; 
}

.project, .announcements, .trending {
    box-shadow: 6px 9px 10px -7px rgba(0,0,0,0.33);
    background-color: #FFF;
    border-radius: 1vw;
}
/*Projects*/

.projects {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto 1fr;
    gap: 2vw;
    height: fit-content;
}

.projects h2 {
    grid-column: 1/-1;
    grid-row: 1 / 1;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.project {
    background-color: #FFF;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 5px;
}

.projects img {
    max-height: 15vw;
    transition: 1s;
}

.projects svg {
    width: 2vw;
    transition: 0.3s;
}

.projects img:hover{
    transform: scale(1.01);
}

.projects svg:hover {
    fill: #5e0a9f;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
/*Projects*/
/*Announcements*/

.announcement, .user-block {
    padding: 1vh 1vw;
}

.up {
    padding-top: 3vh;
}

.down {
    padding-bottom: 3vh;
}

.title{
    box-shadow: none;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
}

.announcement h4{
    margin: 0;
    padding: 0;
}

.announcement p, .name {
    color: #636363;
}

hr {
    width: 80%;
    color: rgba(0,0,0,0.75);
}

/*Announcements*/
/*Trending*/

.user-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-trending {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/*Trending*/