/*General*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
}

.container { /*Big container*/
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.bold {
    font-weight: bold;
}
/*General*/
/*Dashboard*/

.dashboard { 
    background-color: #0284c7;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: #FFF;
    font-weight: bold;
    padding: 3vh 0.5vw;
}

.logo {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5vw;
}

.logo svg {
    fill: #FFF;
    width: 3rem;
}

.options ul, .settings ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh;
    padding: 5vh 0.5vw;
}

.options svg, .settings svg {
    width: 1.3rem;
    fill: #FFF;
    margin-right: 0.5vw;
}

.dashboard a {
    color: #FFF;
    font-size: 1.5rem;
}

/*Dashboard*/
/*Nav*/

.nav {
    background-color: #eff6ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 3vh 5vw 3vh 2vw;
}

.upper-nav, .lower-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Upper Nav*/

.upper-nav svg {
    width: 1.5rem;
}

.searchbar input{
    width: 40vw;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
}

.user, .searchbar {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.user img {
    width: 3vw;
    height: 3vw;
    border-radius: 100%; 
}

.user p {
    font-size: 1.2rem;

}


/*Upper Nav*/



/*Nav*/

.main {
    background-color: #93c5fd;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}